<p id="notice"><%= notice %></p>
<div class='ui center aligned segment'>
  <p>
    <strong>Name:</strong>
    <b class='blue'><%= @team.name %></b>
  </p>
  <%= link_to '#', :class => 'jointeam' do %>
  <div class='ui button'>Join This Team</div><br>
</div>
<% end %>
<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
