<div id="header" class="ui fixed main menu">
  <div class="container">
    <a class="launch item" href="<%= root_url %>">
      <%= semantic_icon("list layout") %>
      TeamTime
    </a>
    <% if current_user || user_signed_in? %>
    <%= link_to destroy_user_session_path, html_options = {method: :delete } do %>
    <div class="ui right item" id='login'>
      <div class='text'><%= current_user.email %> | Logout</div>
    </div>
    <% end %>
    <% else %>
    <%= link_to new_user_session_path do %>
    <div class="ui right item" id='login'>
      <div class='text'>Login</div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
</div>
